@media screen and (min-width:1051px){
	#mobileNav {
		display: none;
	}
}

@media screen and (max-width:1050px){
	header img {
		height: 5rem;
		position: absolute;
		top: 20%;
	}
	#nav {
		display: none;
	}
	#mobileNav {
		color: #00C9C5;
		font-size: 3rem;
		position: absolute;
		bottom: 30%;
		right: 1rem;
	}
	#mobileNav button{
		width: auto;
		border-style: none;	
		background-color: #ffffff;
		color: inherit;
		font-size: inherit;
	}
	#textHeader h1 {
		font-size: 2rem;
		margin-bottom: 3%;
	}
	#textHeader h3 {
		font-size: 1.5rem;
	}
}
